name: Puppet Afisha Watcher

on:
    schedule:
        - cron: "*/5 * * * *"
    workflow_dispatch:

permissions:
    contents: write

jobs:
    run-watcher:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4
              with:
                  persist-credentials: true

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install deps
              run: |
                  pip install requests beautifulsoup4

            - name: Run script
              env:
                  TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
                  TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
              run: |
                  python puppet_watcher.py
